 # Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.*
.env.dev

# .env.example

backend/

node_modules
dist
dist-ssr
*.local
package-lock.json
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# self
# Self Docs
web-2.*
website-generator
ai-2.md
ai-2.pdf

# Temporary files & documentation
TEMPORARY_CHANGES.md
docs/

# Archives
*.zip
